.content-frame {
    width: 100%;
    height: 100%;
}

.resizable {
    /* Make it resizable */
    resize: vertical;
    overflow: auto;
    /* To allow children to stretch */
    display: flex;
}

.resizable>* {
    flex: 1;
}

html,
body {
    height: 100%
}

#menu1 {
    height: 48px;
}

#content {
    height: 600px;
}

#footer1 {
    height: 20x;
}

.navbar1 {
    white-space: nowrap;
}

.navbar-nav1 {
    display: flex;
    flex-direction: row;
}

.nav-item1 {
    flex: 0 0 auto;
}